<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Liste des produits</title>
</head>
<body>
<div class="container">
 <div class="container spacer">
<div class="panel panel-primary">
  <div class="panel-heading">liste des produits</div>
  <div class="panel-body"> 
    <div class="container">
<label>Mot clé:</label>
<input type="text" ng-model="motCle">
  <button ng-click="afficher()" class="btn btn-primary">Afficher</button>
</div>
<br/>
  
    <table class="table table-striped">
        <tr>
          <th>ID</th><th>Désignation</th><th>Prix</th><th>Quantité</th>
          
        </tr>
        <tr ng-repeat="p in pageProduits.content">
          <td>{{ p.id }}</td>
          <td>{{ p.designation }}</td>
          <td>{{ p.prix }}</td>
          <td>{{ p.quantite }}</td>
        </tr>
    </table>
   
       <ul class="nav nav-pills">
          <li ng-class="{active:pageCourante==$index}" class="clickable" ng-repeat="p in pages track by $index"> 
               <a ng-click="goToPage($index)">{{ $index+1 }}</a>
         </li>
       </ul>
   
 
  </div>
</div>
</div>

</div>



</body>
</html>